@import './variables.css.sass'

.AboutMe
  display: block
  width: $max-width

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait)
    box-sizing: border-box
    padding: 16px
    width: 100%

    p
      font-size: 16px

.FootNotes
  border-top: 1px solid #c3c3d5
  width: $max-width

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait)
    width: 100%

    *
      font-size: 16px

  ol
    list-style: none
    -webkit-padding-start: 0px

  li
    box-sizing: border-box
    padding-left: 12px
    padding-right: 12px
    counter-increment: footnote
    margin-bottom: 16px

    p
      color: $sidenote-purple
      display: inline
      font-size: 16px

    &:before
      content: counter(footnote)'.'
      display: inline
      font-family: monospace
      font-size: 16px
