body {
  background-color: #FBFEF9;
  color: #191923;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Liberation Sans", sans-serif;
  position: relative;
  width: 100%;
}

main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p, .colors, .font-styles {
  display: block;
  position: relative;
  width: 100%;
}

.font-styles {
  .italic {
    font-style: italic;
  }
  .bold {
    font-weight: 700;
  }
  .monospace {
    font-family: monospace;
  }
}

.color-boxes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .box {
    height: 80px;
    width: 80px;
    margin-right: 16px;
  }

  .blue {
    background-color: #0E79B2;
  }
  .magenta {
    background-color: #BF1363;
  }
  .orange {
    background-color: #F39237;
  }
}
