---
title: Joe Lipper &middot; Software Developer
---

<main>
  <section class="AboutMe">
    <h2>Hi, I'm Joe</h2>
    <p>
      I'm a software engineer living in the Bay Area. I'm currently working as a
      freelancer part-time, while spending some time independently learning and
      taking a class in computer architecture. I just finished a four-year tenure
      with <a href="https://www.bloc.io/">Bloc</a> where I was a curriculum developer/editor for two years, and a software engineer for the latter two.
      I am considering full-time opportunities, so feel free to reach out<sup class="FootNote" data-footnote-content="">1</sup>.
    </p>
    <p>
      This site will be a place where I hope to clarify my thinking about things
      I'm learning, and perhaps a couple pages showing stuff I'm working on.
      The latest cool thing I learned was
      <a href="https://en.wikipedia.org/wiki/MIPS_architecture">MIPS assembly</a>.
    </p>
    <p>
      I also
      <a href="https://www.goodreads.com/review/list/71603522-joseph-lipper?shelf=read">
        read books from time to time</a>. Currently, I'm reading
      <span class="italic">The Plot Against America</span> by Philip Roth.
    </p>
    <p>
      If you're interested, you can find me on
      <a href="https://twitter.com/joelipper">twitter</a><sup class="FootNote" data-footnote-content="">2</sup>
      and <a href="https://github.com/joelip/">github</a><sup class="FootNote" data-footnote-content="">3</sup>.
    </p>
  </section>
</main>
