---
title: Joe Lipper &middot; Software Developer
---

<main>
  <h1>Going to test</h1>
  <h2>The base styles</h2>
  <h3>Of my blog application</h3>
  <h4>Using simple tags</h4>
  <h5>With no fancy styling</h5>
  <h6>Without further ado</h6>
  <p>The paragraph</p>
  <div class="font-styles">
    <p class="italic">The italic text</p>
    <p class="bold">The bold text</p>
    <p class="monospace">What about a little monospace font</p>
  </div>
  <div class="colors">
    <h5>And the colors</h5>
    <div class="color-boxes">
      <div class="box blue"></div>
      <div class="box magenta"></div>
      <div class="box orange"></div>
    </div>
  </div>
</main>
