---
title: Joe Lipper &middot; Software Developer
layout: landing
---

<main>
  <section class="AboutMe">
    <h2>Hi, I'm Joe</h2>
    <p>
      I'm a software engineer living in the Bay Area. I'm currently working as a
      freelancer part-time, while spending some time independently learning and
      taking a class in computer architecture. I just finished a four-year tenure
      with <a href="https://www.bloc.io/">Bloc</a> where I was a curriculum developer/editor for almost two years, and a software engineer for the latter two.
      I am considering full-time opportunities, so feel free to reach out<sup id="fnref1:1"><a href="#fn:1" rel="footnote">1</a></sup>.
    </p>
    <p>
      This site will be a place where I hope to clarify my thinking about things
      I'm learning, and perhaps a couple pages showing stuff I'm working on.
      The latest cool thing I learned was how to reimplement
      <a href="https://en.wikipedia.org/wiki/Traceroute">traceroute</a>.
    </p>
    <p>
      I also
      <a href="https://www.goodreads.com/review/list/71603522-joseph-lipper?shelf=read">
        read books from time to time</a>. The last good book I read was
      <span class="italic">The Wanderers</span> by Meg Howrey.
    </p>
    <p>
      If you're interested, you can find me on
      <a href="https://twitter.com/joelipper">twitter</a><sup id="fnref1:2"><a href="#fn:2" rel="footnote">2</a></sup>
      and <a href="https://github.com/joelip/">github</a><sup id="fnref1:3"><a href="#fn:3" rel="footnote">3</a></sup>.
    </p>
  </section>
  <footer class="FootNotes">
    <ol>
      <li>
        <p id="fn:1">
           I'm trying to be better about checking my
          <a href='https://www.linkedin.com/in/joe-lipper-869134a0/'>LinkedIn</a>, so message me there. <a href="#fnref1:1" class="footnote-backref">↩</a>
        </p>
      </li>
      <li>
        <p id="fn:2">
           My account is like 75% shitposting, 22% interesting programming stuff, and 3% sports.<a href="#fnref1:2" class="footnote-backref">↩</a>
        </p>
      </li>
      <li>
        <p id="fn:3">
           Most of the stuff I've worked on is private, but I'll try to put some more stuff up that I'm currently working on.<a href="#fnref1:3" class="footnote-backref">↩</a>
        </p>
      </li>
    </ol>
  </footer>
</main>
